html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #FAF7F2;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
